

.game-ending-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 999; /* Ensure the message appears above other content */
  }


@media (max-width: 980px) {
    #gameContainer
    {
        width: 100%;
    }

}

